openapi: 3.1.0
info:
  title: ComboCurve REST v1 custom-columns v1 projects API
  version: v1
  description: 'ComboCurve REST API for oil & gas well forecasting, type curves, production data, reserves and economics. Base URL https://api.combocurve.com. Authentication requires two headers: a signed bearer token (Authorization) generated from a Service Account Key, and an x-api-key. Derived by API Evangelist from the official public ComboCurve Postman collection.'
  contact:
    name: ComboCurve API Support
    url: https://forum.api.combocurve.com/
servers:
- url: https://api.combocurve.com
  description: Production
security:
- apiKeyAuth: []
  bearerAuth: []
tags:
- name: v1 projects
  description: projects operations
paths:
  /v1/projects:
    head:
      operationId: head-projects
      summary: head-projects
      tags:
      - v1 projects
      description: Returns metadata about the existing project documents.
      parameters:
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: filter by name
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-projects
      summary: get-projects
      tags:
      - v1 projects
      description: Returns a list of project documents.
      parameters:
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: field to sort by, including + or - at the beginning for ascending or descending order, respectively
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: used in pagination to get the next page
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: filter by name
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    post:
      operationId: post-projects
      summary: post-projects
      tags:
      - v1 projects
      description: Inserts a list of project documents.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{id}:
    delete:
      operationId: delete-project-by-id
      summary: delete-project-by-id
      tags:
      - v1 projects
      description: Delete the project document that matches the given id.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-project-by-id
      summary: get-project-by-id
      tags:
      - v1 projects
      description: Returns the project document that matches the given id.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/company-wells:
    delete:
      operationId: delete-project-company-wells
      summary: delete-project-company-wells
      tags:
      - v1 projects
      description: Remove the company wells documents that match the given filters from the projectId scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: chosenID
        in: query
        required: false
        schema:
          type: string
        description: filter by chosenID
      - name: dataSource
        in: query
        required: false
        schema:
          type: string
        description: filter by dataSource
      - name: id
        in: query
        required: false
        schema:
          type: string
        description: filter by id
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    head:
      operationId: head-project-company-wells
      summary: head-project-company-wells
      tags:
      - v1 projects
      description: Returns metadata about the existing company well documents in projectId scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: api10
        in: query
        required: false
        schema:
          type: string
        description: filter by api10
      - name: api12
        in: query
        required: false
        schema:
          type: string
        description: filter by api12
      - name: county
        in: query
        required: false
        schema:
          type: string
        description: filter by county
      - name: state
        in: query
        required: false
        schema:
          type: string
        description: filter by state
      - name: wellName
        in: query
        required: false
        schema:
          type: string
        description: filter by wellName
      - name: chosenID
        in: query
        required: false
        schema:
          type: string
        description: filter by chosenID
      - name: inptID
        in: query
        required: false
        schema:
          type: string
        description: filter by inptID
      - name: api14
        in: query
        required: false
        schema:
          type: string
        description: filter by api14
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      - name: dataSource
        in: query
        required: false
        schema:
          type: string
        description: filter by dataSource
      - name: currentOperator
        in: query
        required: false
        schema:
          type: string
        description: filter by dataSource
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-project-company-wells
      summary: get-project-company-wells
      tags:
      - v1 projects
      description: Returns a list of company well documents in projectId scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: field to sort by, including + or - at the beginning for ascending or descending order, respectively
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: used in pagination to get the next page
      - name: api10
        in: query
        required: false
        schema:
          type: string
        description: filter by api10
      - name: api12
        in: query
        required: false
        schema:
          type: string
        description: filter by api12
      - name: county
        in: query
        required: false
        schema:
          type: string
        description: filter by county
      - name: state
        in: query
        required: false
        schema:
          type: string
        description: filter by state
      - name: wellName
        in: query
        required: false
        schema:
          type: string
        description: filter by wellName
      - name: chosenID
        in: query
        required: false
        schema:
          type: string
        description: filter by chosenID
      - name: inptID
        in: query
        required: false
        schema:
          type: string
        description: filter by inptID
      - name: api14
        in: query
        required: false
        schema:
          type: string
        description: filter by api14
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      - name: dataSource
        in: query
        required: false
        schema:
          type: string
        description: filter by dataSource
      - name: currentOperator
        in: query
        required: false
        schema:
          type: string
        description: filter by dataSource
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    post:
      operationId: post-project-company-wells
      summary: post-project-company-wells
      tags:
      - v1 projects
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  dataSource:
                    type: string
                  chosenID:
                    type: string
                  id:
                    type: string
                  projectCustomHeader:
                    type: string
                  projectCustomHeader1:
                    type: string
                  projectCustomHeader2:
                    type: string
                  projectCustomHeader3:
                    type: string
                  projectCustomHeader4:
                    type: string
                  projectCustomHeader5:
                    type: string
                  projectCustomHeader6:
                    type: string
                  projectCustomHeader7:
                    type: string
                  projectCustomHeader8:
                    type: string
                  projectCustomHeader9:
                    type: string
                  projectCustomHeader10:
                    type: string
                  projectCustomHeader11:
                    type: string
                  projectCustomHeader12:
                    type: string
                  projectCustomHeader13:
                    type: string
                  projectCustomHeader14:
                    type: string
                  projectCustomHeader15:
                    type: string
                  projectCustomHeader16:
                    type: string
                  projectCustomHeader17:
                    type: string
                  projectCustomHeader18:
                    type: string
                  projectCustomHeader19:
                    type: string
                  projectCustomHeader20:
                    type: string
                  projectCustomHeader21:
                    type: string
                  projectCustomHeader22:
                    type: string
                  projectCustomHeader23:
                    type: string
                  projectCustomHeader24:
                    type: string
                  projectCustomHeader25:
                    type: string
                  projectCustomHeader26:
                    type: string
                  projectCustomHeader27:
                    type: string
                  projectCustomHeader28:
                    type: string
                  projectCustomHeader29:
                    type: string
                  projectCustomHeader30:
                    type: string
                  projectCustomHeader31:
                    type: string
                  projectCustomHeader32:
                    type: string
                  projectCustomHeader33:
                    type: string
                  projectCustomHeader34:
                    type: string
                  projectCustomHeader35:
                    type: string
                  projectCustomHeader36:
                    type: string
                  projectCustomHeader37:
                    type: string
                  projectCustomHeader38:
                    type: string
                  projectCustomHeader39:
                    type: string
                  projectCustomHeader40:
                    type: string
                  projectCustomHeader41:
                    type: string
                  projectCustomHeader42:
                    type: string
                  projectCustomHeader43:
                    type: string
                  projectCustomHeader44:
                    type: string
                  projectCustomHeader45:
                    type: string
                  projectCustomHeader46:
                    type: string
                  projectCustomHeader47:
                    type: string
                  projectCustomHeader48:
                    type: string
                  projectCustomHeader49:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    patch:
      operationId: patch-project-company-wells
      summary: patch-project-company-wells
      tags:
      - v1 projects
      description: Updates only the custom project headers for existing wells in the project
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  dataSource:
                    type: string
                  chosenID:
                    type: string
                  id:
                    type: string
                  projectCustomHeader:
                    type: string
                  projectCustomHeader1:
                    type: string
                  projectCustomHeader2:
                    type: string
                  projectCustomHeader3:
                    type: string
                  projectCustomHeader4:
                    type: string
                  projectCustomHeader5:
                    type: string
                  projectCustomHeader6:
                    type: string
                  projectCustomHeader7:
                    type: string
                  projectCustomHeader8:
                    type: string
                  projectCustomHeader9:
                    type: string
                  projectCustomHeader10:
                    type: string
                  projectCustomHeader11:
                    type: string
                  projectCustomHeader12:
                    type: string
                  projectCustomHeader13:
                    type: string
                  projectCustomHeader14:
                    type: string
                  projectCustomHeader15:
                    type: string
                  projectCustomHeader16:
                    type: string
                  projectCustomHeader17:
                    type: string
                  projectCustomHeader18:
                    type: string
                  projectCustomHeader19:
                    type: string
                  projectCustomHeader20:
                    type: string
                  projectCustomHeader21:
                    type: string
                  projectCustomHeader22:
                    type: string
                  projectCustomHeader23:
                    type: string
                  projectCustomHeader24:
                    type: string
                  projectCustomHeader25:
                    type: string
                  projectCustomHeader26:
                    type: string
                  projectCustomHeader27:
                    type: string
                  projectCustomHeader28:
                    type: string
                  projectCustomHeader29:
                    type: string
                  projectCustomHeader30:
                    type: string
                  projectCustomHeader31:
                    type: string
                  projectCustomHeader32:
                    type: string
                  projectCustomHeader33:
                    type: string
                  projectCustomHeader34:
                    type: string
                  projectCustomHeader35:
                    type: string
                  projectCustomHeader36:
                    type: string
                  projectCustomHeader37:
                    type: string
                  projectCustomHeader38:
                    type: string
                  projectCustomHeader39:
                    type: string
                  projectCustomHeader40:
                    type: string
                  projectCustomHeader41:
                    type: string
                  projectCustomHeader42:
                    type: string
                  projectCustomHeader43:
                    type: string
                  projectCustomHeader44:
                    type: string
                  projectCustomHeader45:
                    type: string
                  projectCustomHeader46:
                    type: string
                  projectCustomHeader47:
                    type: string
                  projectCustomHeader48:
                    type: string
                  projectCustomHeader49:
                    type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/company-wells/{id}:
    get:
      operationId: get-project-company-well-by-id
      summary: get-project-company-well-by-id
      tags:
      - v1 projects
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/daily-productions:
    delete:
      operationId: delete-project-daily-productions
      summary: delete-project-daily-productions
      tags:
      - v1 projects
      description: Delete the daily productions documents that match the given filters.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: (Required) filter by well ID
      - name: startDate
        in: query
        required: false
        schema:
          type: string
        description: filter by startDate
      - name: endDate
        in: query
        required: false
        schema:
          type: string
        description: filter by endDate
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    head:
      operationId: head-projects-daily-productions
      summary: head-projects-daily-productions
      tags:
      - v1 projects
      description: Returns metadata about the existing daily production documents in the specified project's scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-projects-daily-productions
      summary: get-projects-daily-productions
      tags:
      - v1 projects
      description: Returns a list of daily production documents in the specified project's scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: field to sort by, including + or - at the beginning for ascending or descending order, respectively
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: used in pagination to get the next page
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    post:
      operationId: post-projects-daily-productions
      summary: post-projects-daily-productions
      tags:
      - v1 projects
      description: Upserts a list of daily production documents in projectId scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  bottomHolePressure:
                    type: number
                  casingHeadPressure:
                    type: number
                  choke:
                    type: number
                  chosenID:
                    type: string
                  co2Injection:
                    type: number
                  customNumber0:
                    type: number
                  customNumber1:
                    type: number
                  customNumber2:
                    type: number
                  customNumber3:
                    type: number
                  customNumber4:
                    type: number
                  customNumber5:
                    type: number
                  customNumber6:
                    type: number
                  customNumber7:
                    type: number
                  customNumber8:
                    type: number
                  customNumber9:
                    type: number
                  customNumber10:
                    type: number
                  customNumber11:
                    type: number
                  customNumber12:
                    type: number
                  customNumber13:
                    type: number
                  customNumber14:
                    type: number
                  customNumber15:
                    type: number
                  customNumber16:
                    type: number
                  customNumber17:
                    type: number
                  customNumber18:
                    type: number
                  customNumber19:
                    type: number
                  dataSource:
                    type: string
                  flowlinePressure:
                    type: number
                  gas:
                    type: number
                  gasInjection:
                    type: number
                  gasLiftInjectionPressure:
                    type: number
                  hoursOn:
                    type: number
                  ngl:
                    type: number
                  oil:
                    type: number
                  operationalTag:
                    type: string
                  steamInjection:
                    type: number
                  tubingHeadPressure:
                    type: number
                  vesselSeparatorPressure:
                    type: number
                  water:
                    type: number
                  waterInjection:
                    type: number
                  well:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    put:
      operationId: put-projects-daily-productions
      summary: put-projects-daily-productions
      tags:
      - v1 projects
      description: Upserts a list of daily production documents in projectId scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  bottomHolePressure:
                    type: number
                  casingHeadPressure:
                    type: number
                  choke:
                    type: number
                  chosenID:
                    type: string
                  co2Injection:
                    type: number
                  customNumber0:
                    type: number
                  customNumber1:
                    type: number
                  customNumber2:
                    type: number
                  customNumber3:
                    type: number
                  customNumber4:
                    type: number
                  customNumber5:
                    type: number
                  customNumber6:
                    type: number
                  customNumber7:
                    type: number
                  customNumber8:
                    type: number
                  customNumber9:
                    type: number
                  customNumber10:
                    type: number
                  customNumber11:
                    type: number
                  customNumber12:
                    type: number
                  customNumber13:
                    type: number
                  customNumber14:
                    type: number
                  customNumber15:
                    type: number
                  customNumber16:
                    type: number
                  customNumber17:
                    type: number
                  customNumber18:
                    type: number
                  customNumber19:
                    type: number
                  dataSource:
                    type: string
                  flowlinePressure:
                    type: number
                  gas:
                    type: number
                  gasInjection:
                    type: number
                  gasLiftInjectionPressure:
                    type: number
                  hoursOn:
                    type: number
                  ngl:
                    type: number
                  oil:
                    type: number
                  operationalTag:
                    type: string
                  steamInjection:
                    type: number
                  tubingHeadPressure:
                    type: number
                  vesselSeparatorPressure:
                    type: number
                  water:
                    type: number
                  waterInjection:
                    type: number
                  well:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    patch:
      operationId: patch-projects-daily-productions
      summary: patch-projects-daily-productions
      tags:
      - v1 projects
      description: Patch a list of daily production documents in projectId scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  bottomHolePressure:
                    type: number
                  casingHeadPressure:
                    type: number
                  choke:
                    type: number
                  chosenID:
                    type: string
                  co2Injection:
                    type: number
                  customNumber0:
                    type: number
                  customNumber1:
                    type: number
                  customNumber2:
                    type: number
                  customNumber3:
                    type: number
                  customNumber4:
                    type: number
                  customNumber5:
                    type: number
                  customNumber6:
                    type: number
                  customNumber7:
                    type: number
                  customNumber8:
                    type: number
                  customNumber9:
                    type: number
                  customNumber10:
                    type: number
                  customNumber11:
                    type: number
                  customNumber12:
                    type: number
                  customNumber13:
                    type: number
                  customNumber14:
                    type: number
                  customNumber15:
                    type: number
                  customNumber16:
                    type: number
                  customNumber17:
                    type: number
                  customNumber18:
                    type: number
                  customNumber19:
                    type: number
                  dataSource:
                    type: string
                  flowlinePressure:
                    type: number
                  gas:
                    type: number
                  gasInjection:
                    type: number
                  gasLiftInjectionPressure:
                    type: number
                  hoursOn:
                    type: number
                  ngl:
                    type: number
                  oil:
                    type: number
                  operationalTag:
                    type: string
                  steamInjection:
                    type: number
                  tubingHeadPressure:
                    type: number
                  vesselSeparatorPressure:
                    type: number
                  water:
                    type: number
                  waterInjection:
                    type: number
                  well:
                    type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/forecasts:
    head:
      operationId: head-forecasts
      summary: head-forecasts
      tags:
      - v1 projects
      description: Returns metadata about the existing forecast documents scoped to projectId project.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: filter by name
      - name: runDate
        in: query
        required: false
        schema:
          type: string
        description: filter by runDate
      - name: type
        in: query
        required: false
        schema:
          type: string
        description: filter by type
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-forecasts
      summary: get-forecasts
      tags:
      - v1 projects
      description: Returns a list of forecast documents scoped to projectId project.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: field to sort by, including + or - at the beginning for ascending or descending order, respectively
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: used in pagination to get the next page
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: filter by name
      - name: runDate
        in: query
        required: false
        schema:
          type: string
        description: filter by runDate, can be used for incremental pull
      - name: type
        in: query
        required: false
        schema:
          type: string
        description: filter by type
      - name: tag
        in: query
        required: false
        schema:
          type: string
        description: filter by tag
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    post:
      operationId: post-forecasts
      summary: post-forecasts
      tags:
      - v1 projects
      description: Inserts a list of forecasts documents in projectId scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  type:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/forecasts/{id}:
    get:
      operationId: get-forecast-by-id
      summary: get-forecast-by-id
      tags:
      - v1 projects
      description: Returns the forecast document that matches the given id scoped to projectId project.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    delete:
      operationId: delete-forecast-by-id
      summary: delete-forecast-by-id
      tags:
      - v1 projects
      description: Delete the Forecast that matches the given id scoped to projectId project.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: deleteTypeCurves
        in: query
        required: false
        schema:
          type: string
        description: deletes all type-curves associated with the forecastId
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    patch:
      operationId: patch-forecast
      summary: patch-forecast
      tags:
      - v1 projects
      description: Updates Forecast.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/forecasts/{id}/wells:
    post:
      operationId: post-wells-to-forecast
      summary: post-wells-to-forecast
      tags:
      - v1 projects
      description: Inserts a list of well into a forecast.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                wellIds:
                  type: array
                  items:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/forecasts/{forecastId}/parameters/{wellId}/{phase}/{series}:
    post:
      operationId: post-projects-forecast-segment-parameters
      summary: post-projects-forecast-segment-parameters
      tags:
      - v1 projects
      description: Inserts a list of segments in a forecast for a defined well, phase, and series.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: forecastId
        in: path
        required: true
        schema:
          type: string
      - name: wellId
        in: path
        required: true
        schema:
          type: string
      - name: phase
        in: path
        required: true
        schema:
          type: string
      - name: series
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  segmentType:
                    type: string
                  startDate:
                    type: string
                  endDate:
                    type: string
                  qStart:
                    type: number
                  qEnd:
                    type: number
                  diEffSec:
                    type: number
                  b:
                    type: number
                  targetDSwEffSec:
                    type: number
                  flatValue:
                    type: number
                  slope:
                    type: number
                  realizedDEffSw:
                    type: number
                  d:
                    type: number
                  dEff:
                    type: number
                  calculatedField:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    put:
      operationId: put-projects-forecast-segment-parameters
      summary: put-projects-forecast-segment-parameters
      tags:
      - v1 projects
      description: Updates all segments with provided list of new segments for a defined well, phase, and series.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: forecastId
        in: path
        required: true
        schema:
          type: string
      - name: wellId
        in: path
        required: true
        schema:
          type: string
      - name: phase
        in: path
        required: true
        schema:
          type: string
      - name: series
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  segmentType:
                    type: string
                  startDate:
                    type: string
                  endDate:
                    type: string
                  qStart:
                    type: number
                  qEnd:
                    type: number
                  diEffSec:
                    type: number
                  b:
                    type: number
                  targetDSwEffSec:
                    type: number
                  flatValue:
                    type: number
                  slope:
                    type: number
                  realizedDEffSw:
                    type: number
                  d:
                    type: number
                  dEff:
                    type: number
                  calculatedField:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    delete:
      operationId: delete-projects-forecast-segment-parameters
      summary: delete-projects-forecast-segment-parameters
      tags:
      - v1 projects
      description: Removes all of the segments for a defined well, phase, and series
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: forecastId
        in: path
        required: true
        schema:
          type: string
      - name: wellId
        in: path
        required: true
        schema:
          type: string
      - name: phase
        in: path
        required: true
        schema:
          type: string
      - name: series
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/forecasts/{forecastId}/parameters:
    put:
      operationId: put-version-two-projects-forecast-segment-parameters
      summary: put-version-two-projects-forecast-segment-parameters
      tags:
      - v1 projects
      description: Updates multiple forecast segments for multiple wells, phases, and series in a single request.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: forecastId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  well:
                    type: string
                  forecastType:
                    type: string
                  phase:
                    type: string
                  series:
                    type: string
                  segments:
                    type: array
                    items:
                      type: object
                      properties:
                        segmentType:
                          type: string
                        startDate:
                          type: string
                        endDate:
                          type: string
                        qStart:
                          type: number
                        qEnd:
                          type: number
                        diEffSec:
                          type: number
                        b:
                          type: number
                        targetDSwEffSec:
                          type: number
                        flatValue:
                          type: number
                        slope:
                          type: number
                        realizedDEffSw:
                          type: number
                        d:
                          type: number
                        dEff:
                          type: number
                        calculatedField:
                          type: string
                  dataFrequency:
                    type: string
                  basePhase:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/forecasts/{forecastId}/aries:
    head:
      operationId: head-aries-forecast
      summary: head-aries-forecast
      tags:
      - v1 projects
      description: Returns metadata about the aries forecast documents scoped to projectId project and forecastId forecast.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: forecastId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-aries-forecast
      summary: get-aries-forecast
      tags:
      - v1 projects
      description: Returns a list of aries forecast scoped to projectId project and forecastId forecast.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: forecastId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: field to sort by, including + or - at the beginning for ascending or descending order, respectively
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: used in pagination to get the next page
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      - name: pSeries
        in: query
        required: false
        schema:
          type: string
        description: filter by pSeries
      - name: startDate
        in: query
        required: false
        schema:
          type: string
        description: filter by startDate, can be used for incremental pull
      - name: selectedIdKey
        in: query
        required: false
        schema:
          type: string
        description: filter by selectedIdKey
      - name: endingCondition
        in: query
        required: false
        schema:
          type: string
        description: filter by endingCondition
      - name: forecastUnit
        in: query
        required: false
        schema:
          type: string
        description: filter by forecastUnit
      - name: toLife
        in: query
        required: false
        schema:
          type: string
        description: filter by toLife
      - name: dataResolution
        in: query
        required: false
        schema:
          type: string
        description: filter by dataResolution
      - name: includeZeroForecast
        in: query
        required: false
        schema:
          type: string
        description: filter by includeZeroForecast
      - name: forecastStartToLatestProd
        in: query
        required: false
        schema:
          type: string
        description: filter by forecastStartToLatestProd
      - name: forecastHistoryMatch
        in: query
        required: false
        schema:
          type: string
        description: filter by forecastHistoryMatch
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/forecasts/{forecastId}/outputs:
    head:
      operationId: head-forecast-outputs
      summary: head-forecast-outputs
      tags:
      - v1 projects
      description: Returns metadata about the existing forecast data documents scoped to projectId project and forecastId forecast.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: forecastId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: forecastedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by forecastedAt
      - name: phase
        in: query
        required: false
        schema:
          type: string
        description: filter by phase
      - name: reviewedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by reviewedAt
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-forecast-outputs
      summary: get-forecast-outputs
      tags:
      - v1 projects
      description: Returns a list of forecast data documents scoped to projectId project and forecastId forecast.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: forecastId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: field to sort by, including + or - at the beginning for ascending or descending order, respectively
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: used in pagination to get the next page
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: forecastedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by forecastedAt, can be used for incremental pull
      - name: phase
        in: query
        required: false
        schema:
          type: string
        description: filter by phase
      - name: reviewedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by reviewedAt, can be used for incremental pull
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/forecasts/{forecastId}/outputs/{id}:
    get:
      operationId: get-forecast-output-by-id
      summary: get-forecast-output-by-id
      tags:
      - v1 projects
      description: Returns the forecast data document that matches the given id scoped to projectId project and forecastId forecast.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: forecastId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/forecasts/{forecastId}/daily-volumes:
    head:
      operationId: head-forecast-daily-volumes
      summary: head-forecast-daily-volumes
      tags:
      - v1 projects
      description: Returns metadata about the existing forecast volumes scoped to projectId project, forecastId forecast, and well.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: forecastId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-forecast-daily-volumes
      summary: get-forecast-daily-volumes
      tags:
      - v1 projects
      description: Returns a list of forecast volumes scoped to projectId project, forecastId forecast, and well.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: forecastId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: field to sort by, including + or - at the beginning for ascending or descending order, respectively
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: used in pagination to get the next page
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      - name: startDate
        in: query
        required: false
        schema:
          type: string
        description: filter by startDate. Returns all records with a startDate greater than or equal to the specified value.
      - name: endDate
        in: query
        required: false
        schema:
          type: string
        description: filter by endDate. Returns all records with a endDate less than or equal to the specified value.
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/forecasts/{forecastId}/monthly-volumes:
    head:
      operationId: head-forecast-monthly-volumes
      summary: head-forecast-monthly-volumes
      tags:
      - v1 projects
      description: Returns metadata about the existing forecast volumes scoped to projectId project, forecastId forecast, and well.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: forecastId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-forecast-monthly-volumes
      summary: get-forecast-monthly-volumes
      tags:
      - v1 projects
      description: Returns a list of forecast volumes scoped to projectId project, forecastId forecast, and well.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: forecastId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: field to sort by, including + or - at the beginning for ascending or descending order, respectively
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: used in pagination to get the next page
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      - name: startDate
        in: query
        required: false
        schema:
          type: string
        description: filter by startDate. Returns all records with a startDate greater than or equal to the specified value.
      - name: endDate
        in: query
        required: false
        schema:
          type: string
        description: filter by endDate. Returns all records with a endDate less than or equal to the specified value.
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/forecasts/{forecastId}/run:
    post:
      operationId: post-forecast-run
      summary: post-forecast-run
      tags:
      - v1 projects
      description: 'Starts an asynchronous forecast run for the specified forecast. Always returns `202 Accepted` immediately with a `jobId` that can be polled via `GET .../run/{jobId}`. The server resolves the orchestrator (`autoFullForecast` or `customStreamsForecast`) automatically from the forecast''s `type` field — callers do not choose.

        **Mode A (defaults):** Send an empty body `{}`. The server uses ComboCurve''s built-in defaults for the forecast type.

        **Mode B (saved configuration):** Send `{ "configurationId": "..." }`. The server loads the saved forecast configuration, validates that its `forecastType` matches the target forecast''s `type`, and runs it verbatim.

        Company-enforced forecast settings are applied server-side in both modes, matching the behaviour of the client UI.'
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: forecastId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                configurationId:
                  type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/forecasts/{forecastId}/run/{jobId}:
    get:
      operationId: get-forecast-run-status
      summary: get-forecast-run-status
      tags:
      - v1 projects
      description: Returns the current status of a forecast run. The `jobId` must belong to the forecast identified by `forecastId` in the URL — callers cannot use this endpoint to poll arbitrary task IDs.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: forecastId
        in: path
        required: true
        schema:
          type: string
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/monthly-productions:
    delete:
      operationId: delete-project-monthly-productions
      summary: delete-project-monthly-productions
      tags:
      - v1 projects
      description: Delete the monthly productions documents that match the given filters.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: (Required) filter by well ID
      - name: startDate
        in: query
        required: false
        schema:
          type: string
        description: filter by startDate
      - name: endDate
        in: query
        required: false
        schema:
          type: string
        description: filter by endDate
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    head:
      operationId: head-projects-monthly-productions
      summary: head-projects-monthly-productions
      tags:
      - v1 projects
      description: Returns metadata about the existing monthly production documents in the specified project's scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-projects-monthly-productions
      summary: get-projects-monthly-productions
      tags:
      - v1 projects
      description: Returns a list of monthly production documents in the specified project's scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: field to sort by, including + or - at the beginning for ascending or descending order, respectively
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: used in pagination to get the next page
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    post:
      operationId: post-projects-monthly-productions
      summary: post-projects-monthly-productions
      tags:
      - v1 projects
      description: Upserts a list of monthly production documents in projectId scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  choke:
                    type: number
                  chosenID:
                    type: string
                  co2Injection:
                    type: number
                  customNumber0:
                    type: number
                  customNumber1:
                    type: number
                  customNumber2:
                    type: number
                  customNumber3:
                    type: number
                  customNumber4:
                    type: number
                  customNumber5:
                    type: number
                  customNumber6:
                    type: number
                  customNumber7:
                    type: number
                  customNumber8:
                    type: number
                  customNumber9:
                    type: number
                  customNumber10:
                    type: number
                  customNumber11:
                    type: number
                  customNumber12:
                    type: number
                  customNumber13:
                    type: number
                  customNumber14:
                    type: number
                  customNumber15:
                    type: number
                  customNumber16:
                    type: number
                  customNumber17:
                    type: number
                  customNumber18:
                    type: number
                  customNumber19:
                    type: number
                  dataSource:
                    type: string
                  daysOn:
                    type: number
                  gas:
                    type: number
                  gasInjection:
                    type: number
                  ngl:
                    type: number
                  oil:
                    type: number
                  operationalTag:
                    type: string
                  steamInjection:
                    type: number
                  water:
                    type: number
                  waterInjection:
                    type: number
                  well:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    put:
      operationId: put-projects-monthly-productions
      summary: put-projects-monthly-productions
      tags:
      - v1 projects
      description: Upserts a list of monthly production documents in projectId scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  choke:
                    type: number
                  chosenID:
                    type: string
                  co2Injection:
                    type: number
                  customNumber0:
                    type: number
                  customNumber1:
                    type: number
                  customNumber2:
                    type: number
                  customNumber3:
                    type: number
                  customNumber4:
                    type: number
                  customNumber5:
                    type: number
                  customNumber6:
                    type: number
                  customNumber7:
                    type: number
                  customNumber8:
                    type: number
                  customNumber9:
                    type: number
                  customNumber10:
                    type: number
                  customNumber11:
                    type: number
                  customNumber12:
                    type: number
                  customNumber13:
                    type: number
                  customNumber14:
                    type: number
                  customNumber15:
                    type: number
                  customNumber16:
                    type: number
                  customNumber17:
                    type: number
                  customNumber18:
                    type: number
                  customNumber19:
                    type: number
                  dataSource:
                    type: string
                  daysOn:
                    type: number
                  gas:
                    type: number
                  gasInjection:
                    type: number
                  ngl:
                    type: number
                  oil:
                    type: number
                  operationalTag:
                    type: string
                  steamInjection:
                    type: number
                  water:
                    type: number
                  waterInjection:
                    type: number
                  well:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    patch:
      operationId: patch-projects-monthly-productions
      summary: patch-projects-monthly-productions
      tags:
      - v1 projects
      description: Patch a list of monthly production documents in projectId scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  choke:
                    type: number
                  chosenID:
                    type: string
                  co2Injection:
                    type: number
                  customNumber0:
                    type: number
                  customNumber1:
                    type: number
                  customNumber2:
                    type: number
                  customNumber3:
                    type: number
                  customNumber4:
                    type: number
                  customNumber5:
                    type: number
                  customNumber6:
                    type: number
                  customNumber7:
                    type: number
                  customNumber8:
                    type: number
                  customNumber9:
                    type: number
                  customNumber10:
                    type: number
                  customNumber11:
                    type: number
                  customNumber12:
                    type: number
                  customNumber13:
                    type: number
                  customNumber14:
                    type: number
                  customNumber15:
                    type: number
                  customNumber16:
                    type: number
                  customNumber17:
                    type: number
                  customNumber18:
                    type: number
                  customNumber19:
                    type: number
                  dataSource:
                    type: string
                  daysOn:
                    type: number
                  gas:
                    type: number
                  gasInjection:
                    type: number
                  ngl:
                    type: number
                  oil:
                    type: number
                  operationalTag:
                    type: string
                  steamInjection:
                    type: number
                  water:
                    type: number
                  waterInjection:
                    type: number
                  well:
                    type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/scenarios:
    head:
      operationId: head-scenarios
      summary: head-scenarios
      tags:
      - v1 projects
      description: Returns metadata about the existing scenario documents scoped to projectId project.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: filter by name
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-scenarios
      summary: get-scenarios
      tags:
      - v1 projects
      description: Returns a list of scenario documents scoped to projectId project.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: field to sort by, including + or - at the beginning for ascending or descending order, respectively
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: used in pagination to get the next page
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: filter by name
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    post:
      operationId: post-project-scenarios
      summary: post-project-scenarios
      tags:
      - v1 projects
      description: Inserts a list of scenario documents.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    put:
      operationId: put-project-scenarios
      summary: put-project-scenarios
      tags:
      - v1 projects
      description: Update a list of scenario documents.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    delete:
      operationId: delete-project-scenarios
      summary: delete-project-scenarios
      tags:
      - v1 projects
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: The name of the scenario to delete. If this is not provided, the id parameter must be provided.
      - name: id
        in: query
        required: false
        schema:
          type: string
        description: The id of the scenario to delete. If this is not provided, the name parameter must be provided.
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/scenarios/head:
    delete:
      operationId: delete-scenarios
      summary: delete-scenarios
      tags:
      - v1 projects
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: (Required) The name of the scenario to delete. If this is not provided, the id parameter must be provided.
      - name: id
        in: query
        required: false
        schema:
          type: string
        description: (Required) The id of the scenario to delete. If this is not provided, the name parameter must be provided.
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/scenarios/{id}:
    get:
      operationId: get-scenario-by-id
      summary: get-scenario-by-id
      tags:
      - v1 projects
      description: Returns the scenario document that matches the given id scoped to projectId project.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/scenarios/lookup-tables:
    head:
      operationId: head-scenario-lookup-tables
      summary: head-scenario-lookup-tables
      tags:
      - v1 projects
      description: Returns metadata about the existing scenario lookup table documents.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
[...]
