openapi: 3.1.0
info:
  title: ComboCurve REST v1 custom-columns v1 econ-runs API
  version: v1
  description: 'ComboCurve REST API for oil & gas well forecasting, type curves, production data, reserves and economics. Base URL https://api.combocurve.com. Authentication requires two headers: a signed bearer token (Authorization) generated from a Service Account Key, and an x-api-key. Derived by API Evangelist from the official public ComboCurve Postman collection.'
  contact:
    name: ComboCurve API Support
    url: https://forum.api.combocurve.com/
servers:
- url: https://api.combocurve.com
  description: Production
security:
- apiKeyAuth: []
  bearerAuth: []
tags:
- name: v1 econ-runs
  description: econ-runs operations
paths:
  /v1/econ-runs:
    head:
      operationId: head-root-econ-runs
      summary: head-root-econ-runs
      tags:
      - v1 econ-runs
      description: Returns metadata about the existing econ run documents.
      parameters:
      - name: project
        in: query
        required: false
        schema:
          type: string
        description: filter by project id
      - name: scenario
        in: query
        required: false
        schema:
          type: string
        description: filter by scenario id
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: runDate
        in: query
        required: false
        schema:
          type: string
        description: filter by runDate, can be used for incremental pull
      - name: tags
        in: query
        required: false
        schema:
          type: string
        description: filter by tag name
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-root-econ-runs
      summary: get-root-econ-runs
      tags:
      - v1 econ-runs
      description: Returns a list of econ run documents.
      parameters:
      - name: project
        in: query
        required: false
        schema:
          type: string
        description: filter by project id
      - name: scenario
        in: query
        required: false
        schema:
          type: string
        description: filter by scenario id
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: field to sort by, including + or - at the beginning for ascending or descending order, respectively
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: used in pagination to get the next page
      - name: runDate
        in: query
        required: false
        schema:
          type: string
        description: filter by runDate
      - name: tags
        in: query
        required: false
        schema:
          type: string
        description: filter by tag name
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/econ-runs/{id}:
    get:
      operationId: get-root-econ-run-by-id
      summary: get-root-econ-run-by-id
      tags:
      - v1 econ-runs
      description: Returns the econ run document that matches the given id.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Company API key from the ComboCurve API & Sync page.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Signed bearer token generated from the Service Account Key.
