# generated: 2026-07-18
# method: derived
# source: https://docs.api.combocurve.com/downloads/combocurve-api.postman_collection.json (official ComboCurve REST API Postman collection)
openapi: 3.1.0
info:
  title: ComboCurve REST API
  version: v1
  description: 'ComboCurve REST API for oil & gas well forecasting, type curves, production data, reserves and economics.
    Base URL https://api.combocurve.com. Authentication requires two headers: a signed bearer token (Authorization) generated
    from a Service Account Key, and an x-api-key. Derived by API Evangelist from the official public ComboCurve Postman collection.'
  contact:
    name: ComboCurve API Support
    url: https://forum.api.combocurve.com/
servers:
- url: https://api.combocurve.com
  description: Production
security:
- apiKeyAuth: []
  bearerAuth: []
tags:
- name: v1 custom-columns
  description: custom-columns operations
- name: v1 daily-productions
  description: daily-productions operations
- name: v1 directional-surveys
  description: directional-surveys operations
- name: v1 econ-models
  description: econ-models operations
- name: v1 econ-runs
  description: econ-runs operations
- name: v1 exports
  description: exports operations
- name: v1 forecast-configurations
  description: forecast-configurations operations
- name: v1 forecast-daily-volumes
  description: forecast-daily-volumes operations
- name: v1 forecast-monthly-volumes
  description: forecast-monthly-volumes operations
- name: v1 monthly-productions
  description: monthly-productions operations
- name: v1 ownership-qualifiers
  description: ownership-qualifiers operations
- name: v1 projects
  description: projects operations
- name: v1 tags
  description: tags operations
- name: v1 users
  description: users operations
- name: v1 well-comments
  description: well-comments operations
- name: v1 wells
  description: wells operations
- name: v1 wells-identifiers
  description: wells-identifiers operations
- name: v2 exports
  description: exports operations
paths:
  /v1/daily-productions:
    delete:
      operationId: delete-daily-productions
      summary: delete-daily-productions
      tags:
      - v1 daily-productions
      description: Delete the daily productions documents that match the given filters.
      parameters:
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: (Required) filter by well ID
      - name: startDate
        in: query
        required: false
        schema:
          type: string
        description: filter by startDate
      - name: endDate
        in: query
        required: false
        schema:
          type: string
        description: filter by endDate
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    head:
      operationId: head-daily-productions
      summary: head-daily-productions
      tags:
      - v1 daily-productions
      description: Returns metadata about the existing daily production documents in the company scope.
      parameters:
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: date
        in: query
        required: false
        schema:
          type: string
        description: filter by date
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-daily-productions
      summary: get-daily-productions
      tags:
      - v1 daily-productions
      description: Returns a list of daily production documents in the company scope.
      parameters:
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: field to sort by, including + or - at the beginning for ascending or descending order, respectively
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: used in pagination to get the next page
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: date
        in: query
        required: false
        schema:
          type: string
        description: filter by date
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    post:
      operationId: post-daily-productions
      summary: post-daily-productions
      tags:
      - v1 daily-productions
      description: Upserts a list of daily production documents.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  bottomHolePressure:
                    type: number
                  casingHeadPressure:
                    type: number
                  choke:
                    type: number
                  chosenID:
                    type: string
                  co2Injection:
                    type: number
                  customNumber0:
                    type: number
                  customNumber1:
                    type: number
                  customNumber2:
                    type: number
                  customNumber3:
                    type: number
                  customNumber4:
                    type: number
                  customNumber5:
                    type: number
                  customNumber6:
                    type: number
                  customNumber7:
                    type: number
                  customNumber8:
                    type: number
                  customNumber9:
                    type: number
                  customNumber10:
                    type: number
                  customNumber11:
                    type: number
                  customNumber12:
                    type: number
                  customNumber13:
                    type: number
                  customNumber14:
                    type: number
                  customNumber15:
                    type: number
                  customNumber16:
                    type: number
                  customNumber17:
                    type: number
                  customNumber18:
                    type: number
                  customNumber19:
                    type: number
                  dataSource:
                    type: string
                  flowlinePressure:
                    type: number
                  gas:
                    type: number
                  gasInjection:
                    type: number
                  gasLiftInjectionPressure:
                    type: number
                  hoursOn:
                    type: number
                  ngl:
                    type: number
                  oil:
                    type: number
                  operationalTag:
                    type: string
                  steamInjection:
                    type: number
                  tubingHeadPressure:
                    type: number
                  vesselSeparatorPressure:
                    type: number
                  water:
                    type: number
                  waterInjection:
                    type: number
                  well:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    put:
      operationId: put-daily-productions
      summary: put-daily-productions
      tags:
      - v1 daily-productions
      description: Upserts a list of daily production documents.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  bottomHolePressure:
                    type: number
                  casingHeadPressure:
                    type: number
                  choke:
                    type: number
                  chosenID:
                    type: string
                  co2Injection:
                    type: number
                  customNumber0:
                    type: number
                  customNumber1:
                    type: number
                  customNumber2:
                    type: number
                  customNumber3:
                    type: number
                  customNumber4:
                    type: number
                  customNumber5:
                    type: number
                  customNumber6:
                    type: number
                  customNumber7:
                    type: number
                  customNumber8:
                    type: number
                  customNumber9:
                    type: number
                  customNumber10:
                    type: number
                  customNumber11:
                    type: number
                  customNumber12:
                    type: number
                  customNumber13:
                    type: number
                  customNumber14:
                    type: number
                  customNumber15:
                    type: number
                  customNumber16:
                    type: number
                  customNumber17:
                    type: number
                  customNumber18:
                    type: number
                  customNumber19:
                    type: number
                  dataSource:
                    type: string
                  flowlinePressure:
                    type: number
                  gas:
                    type: number
                  gasInjection:
                    type: number
                  gasLiftInjectionPressure:
                    type: number
                  hoursOn:
                    type: number
                  ngl:
                    type: number
                  oil:
                    type: number
                  operationalTag:
                    type: string
                  steamInjection:
                    type: number
                  tubingHeadPressure:
                    type: number
                  vesselSeparatorPressure:
                    type: number
                  water:
                    type: number
                  waterInjection:
                    type: number
                  well:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    patch:
      operationId: patch-daily-productions
      summary: patch-daily-productions
      tags:
      - v1 daily-productions
      description: Patch a list of daily production documents.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  bottomHolePressure:
                    type: number
                  casingHeadPressure:
                    type: number
                  choke:
                    type: number
                  chosenID:
                    type: string
                  co2Injection:
                    type: number
                  customNumber0:
                    type: number
                  customNumber1:
                    type: number
                  customNumber2:
                    type: number
                  customNumber3:
                    type: number
                  customNumber4:
                    type: number
                  customNumber5:
                    type: number
                  customNumber6:
                    type: number
                  customNumber7:
                    type: number
                  customNumber8:
                    type: number
                  customNumber9:
                    type: number
                  customNumber10:
                    type: number
                  customNumber11:
                    type: number
                  customNumber12:
                    type: number
                  customNumber13:
                    type: number
                  customNumber14:
                    type: number
                  customNumber15:
                    type: number
                  customNumber16:
                    type: number
                  customNumber17:
                    type: number
                  customNumber18:
                    type: number
                  customNumber19:
                    type: number
                  dataSource:
                    type: string
                  flowlinePressure:
                    type: number
                  gas:
                    type: number
                  gasInjection:
                    type: number
                  gasLiftInjectionPressure:
                    type: number
                  hoursOn:
                    type: number
                  ngl:
                    type: number
                  oil:
                    type: number
                  operationalTag:
                    type: string
                  steamInjection:
                    type: number
                  tubingHeadPressure:
                    type: number
                  vesselSeparatorPressure:
                    type: number
                  water:
                    type: number
                  waterInjection:
                    type: number
                  well:
                    type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/monthly-productions:
    delete:
      operationId: delete-monthly-productions
      summary: delete-monthly-productions
      tags:
      - v1 monthly-productions
      description: Delete the monthly productions documents that match the given filters.
      parameters:
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: (Required) filter by well ID
      - name: startDate
        in: query
        required: false
        schema:
          type: string
        description: filter by startDate
      - name: endDate
        in: query
        required: false
        schema:
          type: string
        description: filter by endDate
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    head:
      operationId: head-monthly-productions
      summary: head-monthly-productions
      tags:
      - v1 monthly-productions
      description: Returns metadata about the existing monthly production documents in the company scope.
      parameters:
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: date
        in: query
        required: false
        schema:
          type: string
        description: filter by date
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-monthly-productions
      summary: get-monthly-productions
      tags:
      - v1 monthly-productions
      description: Returns a list of monthly production documents in the company scope.
      parameters:
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: field to sort by, including + or - at the beginning for ascending or descending order, respectively
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: used in pagination to get the next page
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: date
        in: query
        required: false
        schema:
          type: string
        description: filter by date
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    post:
      operationId: post-monthly-productions
      summary: post-monthly-productions
      tags:
      - v1 monthly-productions
      description: Upserts a list of monthly production documents.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  choke:
                    type: number
                  chosenID:
                    type: string
                  co2Injection:
                    type: number
                  customNumber0:
                    type: number
                  customNumber1:
                    type: number
                  customNumber2:
                    type: number
                  customNumber3:
                    type: number
                  customNumber4:
                    type: number
                  customNumber5:
                    type: number
                  customNumber6:
                    type: number
                  customNumber7:
                    type: number
                  customNumber8:
                    type: number
                  customNumber9:
                    type: number
                  customNumber10:
                    type: number
                  customNumber11:
                    type: number
                  customNumber12:
                    type: number
                  customNumber13:
                    type: number
                  customNumber14:
                    type: number
                  customNumber15:
                    type: number
                  customNumber16:
                    type: number
                  customNumber17:
                    type: number
                  customNumber18:
                    type: number
                  customNumber19:
                    type: number
                  dataSource:
                    type: string
                  daysOn:
                    type: number
                  gas:
                    type: number
                  gasInjection:
                    type: number
                  ngl:
                    type: number
                  oil:
                    type: number
                  operationalTag:
                    type: string
                  steamInjection:
                    type: number
                  water:
                    type: number
                  waterInjection:
                    type: number
                  well:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    put:
      operationId: put-monthly-productions
      summary: put-monthly-productions
      tags:
      - v1 monthly-productions
      description: Upserts a list of monthly production documents.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  choke:
                    type: number
                  chosenID:
                    type: string
                  co2Injection:
                    type: number
                  customNumber0:
                    type: number
                  customNumber1:
                    type: number
                  customNumber2:
                    type: number
                  customNumber3:
                    type: number
                  customNumber4:
                    type: number
                  customNumber5:
                    type: number
                  customNumber6:
                    type: number
                  customNumber7:
                    type: number
                  customNumber8:
                    type: number
                  customNumber9:
                    type: number
                  customNumber10:
                    type: number
                  customNumber11:
                    type: number
                  customNumber12:
                    type: number
                  customNumber13:
                    type: number
                  customNumber14:
                    type: number
                  customNumber15:
                    type: number
                  customNumber16:
                    type: number
                  customNumber17:
                    type: number
                  customNumber18:
                    type: number
                  customNumber19:
                    type: number
                  dataSource:
                    type: string
                  daysOn:
                    type: number
                  gas:
                    type: number
                  gasInjection:
                    type: number
                  ngl:
                    type: number
                  oil:
                    type: number
                  operationalTag:
                    type: string
                  steamInjection:
                    type: number
                  water:
                    type: number
                  waterInjection:
                    type: number
                  well:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    patch:
      operationId: patch-monthly-productions
      summary: patch-monthly-productions
      tags:
      - v1 monthly-productions
      description: Patch a list of monthly production documents.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  choke:
                    type: number
                  chosenID:
                    type: string
                  co2Injection:
                    type: number
                  customNumber0:
                    type: number
                  customNumber1:
                    type: number
                  customNumber2:
                    type: number
                  customNumber3:
                    type: number
                  customNumber4:
                    type: number
                  customNumber5:
                    type: number
                  customNumber6:
                    type: number
                  customNumber7:
                    type: number
                  customNumber8:
                    type: number
                  customNumber9:
                    type: number
                  customNumber10:
                    type: number
                  customNumber11:
                    type: number
                  customNumber12:
                    type: number
                  customNumber13:
                    type: number
                  customNumber14:
                    type: number
                  customNumber15:
                    type: number
                  customNumber16:
                    type: number
                  customNumber17:
                    type: number
                  customNumber18:
                    type: number
                  customNumber19:
                    type: number
                  dataSource:
                    type: string
                  daysOn:
                    type: number
                  gas:
                    type: number
                  gasInjection:
                    type: number
                  ngl:
                    type: number
                  oil:
                    type: number
                  operationalTag:
                    type: string
                  steamInjection:
                    type: number
                  water:
                    type: number
                  waterInjection:
                    type: number
                  well:
                    type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/ownership-qualifiers:
    head:
      operationId: head-ownership-qualifiers
      summary: head-ownership-qualifiers
      tags:
      - v1 ownership-qualifiers
      description: Returns metadata about the existing ownership qualifiers documents.
      parameters:
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: chosenID
        in: query
        required: false
        schema:
          type: string
        description: filter by chosenID
      - name: qualifierKey
        in: query
        required: false
        schema:
          type: string
        description: filter by qualifierKey
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-ownership-qualifiers
      summary: get-ownership-qualifiers
      tags:
      - v1 ownership-qualifiers
      description: Returns a list of ownership qualifiers documents.
      parameters:
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: field to sort by, including + or - at the beginning for ascending or descending order, respectively
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: used in pagination to get the next page
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: chosenID
        in: query
        required: false
        schema:
          type: string
        description: filter by chosenID
      - name: qualifierKey
        in: query
        required: false
        schema:
          type: string
        description: filter by qualifierKey
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    post:
      operationId: post-ownership-qualifiers
      summary: post-ownership-qualifiers
      tags:
      - v1 ownership-qualifiers
      description: Inserts a list of ownership qualifiers documents.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  qualifierKey:
                    type: string
                  ownership:
                    type: object
                    properties:
                      name:
                        type: string
                      initialOwnership:
                        type: object
                        properties:
                          workingInterest:
                            type: number
                          netProfitInterestType:
                            type: string
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                      firstReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      secondReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      thirdReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      fourthReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      fifthReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      sixthReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      seventhReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      eighthReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      ninthReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      tenthReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                  chosenID:
                    type: string
                  dataSource:
                    type: string
                  well:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    put:
      operationId: put-ownership-qualifiers
      summary: put-ownership-qualifiers
      tags:
      - v1 ownership-qualifiers
      description: Replace or create a list of ownership qualifiers documents.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  qualifierKey:
                    type: string
                  ownership:
                    type: object
                    properties:
                      name:
                        type: string
                      initialOwnership:
                        type: object
                        properties:
                          workingInterest:
                            type: number
                          netProfitInterestType:
                            type: string
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                      firstReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      secondReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      thirdReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      fourthReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      fifthReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      sixthReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      seventhReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      eighthReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      ninthReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                      tenthReversion:
                        type: object
                        properties:
                          reversionType:
                            type: string
                          balance:
                            type: string
                          includeNetProfitInterest:
                            type: string
                          workingInterest:
                            type: number
                          revBasisWorkingInterest:
                            type: number
                          revBasisNetRevenueInterest:
                            type: number
                          netProfitInterest:
                            type: number
                          netRevenueInterest:
                            type: number
                          leaseNetRevenueInterest:
                            type: number
                          oilNetRevenueInterest:
                            type: number
                          gasNetRevenueInterest:
                            type: number
                          nglNetRevenueInterest:
                            type: number
                          dripCondensateNetRevenueInterest:
                            type: number
                          reversionTiedTo:
                            type: object
                            properties:
                              type:
                                type: string
                              value:
                                type: string
                                format: date
                  chosenID:
                    type: string
                  dataSource:
                    type: string
                  well:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/ownership-qualifiers/{id}:
    get:
      operationId: get-ownership-qualifiers-by-id
      summary: get-ownership-qualifiers-by-id
      tags:
      - v1 ownership-qualifiers
      description: Returns the ownership qualifier document that matches the given id.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects:
    head:
      operationId: head-projects
      summary: head-projects
      tags:
      - v1 projects
      description: Returns metadata about the existing project documents.
      parameters:
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: filter by name
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-projects
      summary: get-projects
      tags:
      - v1 projects
      description: Returns a list of project documents.
      parameters:
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: field to sort by, including + or - at the beginning for ascending or descending order, respectively
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: used in pagination to get the next page
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: name
        in: query
        required: false
        schema:
          type: string
        description: filter by name
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    post:
      operationId: post-projects
      summary: post-projects
      tags:
      - v1 projects
      description: Inserts a list of project documents.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{id}:
    delete:
      operationId: delete-project-by-id
      summary: delete-project-by-id
      tags:
      - v1 projects
      description: Delete the project document that matches the given id.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-project-by-id
      summary: get-project-by-id
      tags:
      - v1 projects
      description: Returns the project document that matches the given id.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/company-wells:
    delete:
      operationId: delete-project-company-wells
      summary: delete-project-company-wells
      tags:
      - v1 projects
      description: Remove the company wells documents that match the given filters from the projectId scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: chosenID
        in: query
        required: false
        schema:
          type: string
        description: filter by chosenID
      - name: dataSource
        in: query
        required: false
        schema:
          type: string
        description: filter by dataSource
      - name: id
        in: query
        required: false
        schema:
          type: string
        description: filter by id
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    head:
      operationId: head-project-company-wells
      summary: head-project-company-wells
      tags:
      - v1 projects
      description: Returns metadata about the existing company well documents in projectId scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: api10
        in: query
        required: false
        schema:
          type: string
        description: filter by api10
      - name: api12
        in: query
        required: false
        schema:
          type: string
        description: filter by api12
      - name: county
        in: query
        required: false
        schema:
          type: string
        description: filter by county
      - name: state
        in: query
        required: false
        schema:
          type: string
        description: filter by state
      - name: wellName
        in: query
        required: false
        schema:
          type: string
        description: filter by wellName
      - name: chosenID
        in: query
        required: false
        schema:
          type: string
        description: filter by chosenID
      - name: inptID
        in: query
        required: false
        schema:
          type: string
        description: filter by inptID
      - name: api14
        in: query
        required: false
        schema:
          type: string
        description: filter by api14
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      - name: dataSource
        in: query
        required: false
        schema:
          type: string
        description: filter by dataSource
      - name: currentOperator
        in: query
        required: false
        schema:
          type: string
        description: filter by dataSource
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-project-company-wells
      summary: get-project-company-wells
      tags:
      - v1 projects
      description: Returns a list of company well documents in projectId scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: field to sort by, including + or - at the beginning for ascending or descending order, respectively
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: used in pagination to get the next page
      - name: api10
        in: query
        required: false
        schema:
          type: string
        description: filter by api10
      - name: api12
        in: query
        required: false
        schema:
          type: string
        description: filter by api12
      - name: county
        in: query
        required: false
        schema:
          type: string
        description: filter by county
      - name: state
        in: query
        required: false
        schema:
          type: string
        description: filter by state
      - name: wellName
        in: query
        required: false
        schema:
          type: string
        description: filter by wellName
      - name: chosenID
        in: query
        required: false
        schema:
          type: string
        description: filter by chosenID
      - name: inptID
        in: query
        required: false
        schema:
          type: string
        description: filter by inptID
      - name: api14
        in: query
        required: false
        schema:
          type: string
        description: filter by api14
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      - name: dataSource
        in: query
        required: false
        schema:
          type: string
        description: filter by dataSource
      - name: currentOperator
        in: query
        required: false
        schema:
          type: string
        description: filter by dataSource
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    post:
      operationId: post-project-company-wells
      summary: post-project-company-wells
      tags:
      - v1 projects
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  dataSource:
                    type: string
                  chosenID:
                    type: string
                  id:
                    type: string
                  projectCustomHeader:
                    type: string
                  projectCustomHeader1:
                    type: string
                  projectCustomHeader2:
                    type: string
                  projectCustomHeader3:
                    type: string
                  projectCustomHeader4:
                    type: string
                  projectCustomHeader5:
                    type: string
                  projectCustomHeader6:
                    type: string
                  projectCustomHeader7:
                    type: string
                  projectCustomHeader8:
                    type: string
                  projectCustomHeader9:
                    type: string
                  projectCustomHeader10:
                    type: string
                  projectCustomHeader11:
                    type: string
                  projectCustomHeader12:
                    type: string
                  projectCustomHeader13:
                    type: string
                  projectCustomHeader14:
                    type: string
                  projectCustomHeader15:
                    type: string
                  projectCustomHeader16:
                    type: string
                  projectCustomHeader17:
                    type: string
                  projectCustomHeader18:
                    type: string
                  projectCustomHeader19:
                    type: string
                  projectCustomHeader20:
                    type: string
                  projectCustomHeader21:
                    type: string
                  projectCustomHeader22:
                    type: string
                  projectCustomHeader23:
                    type: string
                  projectCustomHeader24:
                    type: string
                  projectCustomHeader25:
                    type: string
                  projectCustomHeader26:
                    type: string
                  projectCustomHeader27:
                    type: string
                  projectCustomHeader28:
                    type: string
                  projectCustomHeader29:
                    type: string
                  projectCustomHeader30:
                    type: string
                  projectCustomHeader31:
                    type: string
                  projectCustomHeader32:
                    type: string
                  projectCustomHeader33:
                    type: string
                  projectCustomHeader34:
                    type: string
                  projectCustomHeader35:
                    type: string
                  projectCustomHeader36:
                    type: string
                  projectCustomHeader37:
                    type: string
                  projectCustomHeader38:
                    type: string
                  projectCustomHeader39:
                    type: string
                  projectCustomHeader40:
                    type: string
                  projectCustomHeader41:
                    type: string
                  projectCustomHeader42:
                    type: string
                  projectCustomHeader43:
                    type: string
                  projectCustomHeader44:
                    type: string
                  projectCustomHeader45:
                    type: string
                  projectCustomHeader46:
                    type: string
                  projectCustomHeader47:
                    type: string
                  projectCustomHeader48:
                    type: string
                  projectCustomHeader49:
                    type: string
      responses:
        '201':
          description: Created
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    patch:
      operationId: patch-project-company-wells
      summary: patch-project-company-wells
      tags:
      - v1 projects
      description: Updates only the custom project headers for existing wells in the project
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  dataSource:
                    type: string
                  chosenID:
                    type: string
                  id:
                    type: string
                  projectCustomHeader:
                    type: string
                  projectCustomHeader1:
                    type: string
                  projectCustomHeader2:
                    type: string
                  projectCustomHeader3:
                    type: string
                  projectCustomHeader4:
                    type: string
                  projectCustomHeader5:
                    type: string
                  projectCustomHeader6:
                    type: string
                  projectCustomHeader7:
                    type: string
                  projectCustomHeader8:
                    type: string
                  projectCustomHeader9:
                    type: string
                  projectCustomHeader10:
                    type: string
                  projectCustomHeader11:
                    type: string
                  projectCustomHeader12:
                    type: string
                  projectCustomHeader13:
                    type: string
                  projectCustomHeader14:
                    type: string
                  projectCustomHeader15:
                    type: string
                  projectCustomHeader16:
                    type: string
                  projectCustomHeader17:
                    type: string
                  projectCustomHeader18:
                    type: string
                  projectCustomHeader19:
                    type: string
                  projectCustomHeader20:
                    type: string
                  projectCustomHeader21:
                    type: string
                  projectCustomHeader22:
                    type: string
                  projectCustomHeader23:
                    type: string
                  projectCustomHeader24:
                    type: string
                  projectCustomHeader25:
                    type: string
                  projectCustomHeader26:
                    type: string
                  projectCustomHeader27:
                    type: string
                  projectCustomHeader28:
                    type: string
                  projectCustomHeader29:
                    type: string
                  projectCustomHeader30:
                    type: string
                  projectCustomHeader31:
                    type: string
                  projectCustomHeader32:
                    type: string
                  projectCustomHeader33:
                    type: string
                  projectCustomHeader34:
                    type: string
                  projectCustomHeader35:
                    type: string
                  projectCustomHeader36:
                    type: string
                  projectCustomHeader37:
                    type: string
                  projectCustomHeader38:
                    type: string
                  projectCustomHeader39:
                    type: string
                  projectCustomHeader40:
                    type: string
                  projectCustomHeader41:
                    type: string
                  projectCustomHeader42:
                    type: string
                  projectCustomHeader43:
                    type: string
                  projectCustomHeader44:
                    type: string
                  projectCustomHeader45:
                    type: string
                  projectCustomHeader46:
                    type: string
                  projectCustomHeader47:
                    type: string
                  projectCustomHeader48:
                    type: string
                  projectCustomHeader49:
                    type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/company-wells/{id}:
    get:
      operationId: get-project-company-well-by-id
      summary: get-project-company-well-by-id
      tags:
      - v1 projects
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
  /v1/projects/{projectId}/daily-productions:
    delete:
      operationId: delete-project-daily-productions
      summary: delete-project-daily-productions
      tags:
      - v1 projects
      description: Delete the daily productions documents that match the given filters.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: (Required) filter by well ID
      - name: startDate
        in: query
        required: false
        schema:
          type: string
        description: filter by startDate
      - name: endDate
        in: query
        required: false
        schema:
          type: string
        description: filter by endDate
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    head:
      operationId: head-projects-daily-productions
      summary: head-projects-daily-productions
      tags:
      - v1 projects
      description: Returns metadata about the existing daily production documents in the specified project's scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
        description: filter by updatedAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example updatedAt[gt]=2018-01-01T00:00:00Z
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '429':
          description: Too many requests - rate limit exceeded
    get:
      operationId: get-projects-daily-productions
      summary: get-projects-daily-productions
      tags:
      - v1 projects
      description: Returns a list of daily production documents in the specified project's scope.
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: skip
        in: query
        required: false
        schema:
          type: integer
        description: number of items to skip
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: field to sort by, including + or - at the beginning for ascending or descending order, respectively
      - name: cursor
        in: query
        required: false
        schema:
          type: string
        description: used in pagination to get the next page
      - name: take
        in: query
        required: false
        schema:
          type: integer
        description: max records to return
      - name: createdAt
        in: query
        required: false
        schema:
          type: string
        description: filter by createdAt - Operator values are [lt] = less than, [le] = less than or equal, [gt] = greater
          than, [ge] = greater than or equal, no operator = equal. Example createdAt[gt]=2018-01-01T00:00:00Z
      - name: well
        in: query
        required: false
        schema:
          type: string
        description: filter by well
      - name: updatedAt
        in: query
        required: false
        schema:
          type: string
[...]
